* {
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color: #edeef6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    max-height: 100%;
}

/* title, text and buttons */

.header {
    background-color: rgb(119, 16, 33);
    color: aqua;
    font-size: 20px;
}

.evil_pc {
    background-color: black;
}

.text {
    background-color: whitesmoke;
}

.rules {
    background-color: rgb(150, 113, 58);
}

.rezults {
    background-color: chartreuse;
}

#scores {
    flex-direction: row;
}

#interface {
    display: flex;
    flex-direction: row;
    padding:  0;
}

/* buttons */

#buttons {
    display: flex;
    flex-direction: column;
    background-color: coral;
    align-items: center;
    justify-content: center;
}

#buttonsPc {
    display: flex;
    flex-direction: column;
    background-color: coral;
    align-items: center;
    justify-content: center;
}

.buttonsPc.active {
    background-color: green;
}

/* Modal overlay */

.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0 , 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    min-height: 100vh;
    margin: 0;
}

.modal_container.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

#play_again {
    background-color: royalblue;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

/* Animation */

span {
    opacity: 0;
    transition: all 1s ease;
}

span.fade {
    opacity: 1;

}